<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassin</title>
</head>
<body>
    <h1>Go To Specified Lobby</h1>
    <form action="http://localhost:4000/waiting_room" method="post">
        Enter your room code: <input name="roomCode" type="text"><br><br>
        <input type="submit" value="View Lobby">
    </form>
</body>
</html>