<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball Tracket</title>
</head>
<body>
    <h1>Basketball Tracker</h1>
    <form action="http://localhost:4000/" method="post">
        <a href="/today_games">Today's Games</a>
        <a href="/search_player">Player Stats</a>
        <input type="submit" value="Logout">
    </form>

    <div>
        Welcome to your page <%- user %>.<br>
        <%- favPlayers %>
    </div>
    <form action="http://localhost:4000/home" method="post">
        <div>
            <input name="playerFirstName" type="text" placeholder="Enter Player's First Name">
        </div>
        <div>
            <input name="playerLastName" type="text" placeholder="Enter Player's Last Name">
        </div>
        <input type="submit" value="Add">
    </form>
</body>
</html>