<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassin</title>
</head>
<body>
    <h1>Welcome to Word Assassin</h1>
    <a href="/join_lobby">Join a Game</a>
    <a href="/create_lobby">Create Lobby</a>
</body>
</html>