<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassin</title>
</head>
<body>
    <h1>Join an Existing Game</h1>
    <form action="http://localhost:4000/join_lobby_confirmation" method="post">
        Enter your name: <input name="playerName" type="text"><br><br>
        Enter the room code: <input name="roomCode" type="text"><br><br>
        <input type="submit" value="Enter Lobby">
    </form>
</body>
</html>