<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Player</title>
</head>
<body>
    <h1>Search Player</h1>
    This page will post to a player dashboard of the queried player using an API call.
    <form>
        <div>
            <input name="playerFirstName" type="text" placeholder="Enter Player's First Name">
        </div>
        <div>
            <input name="playerLastName" type="text" placeholder="Enter Player's Last Name">
        </div>
        <input type="submit" value="Search">
    </form>
</body>
</html>