<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/style.css"> 

    <title>Register</title>
</head>
<body>

    <form action="http://localhost:4000/home" method="post">
        <div>
            <input name="name" type="text" placeholder="Name">
        </div>
        <div>
            <input name="username" type="text" placeholder="Username">
        </div>
        <div>
            <input name="password" type="password" placeholder="Password">
        </div>
        <input type="submit" value="Register">
    </form>

</body>
</html>