<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Assassin</title>
</head>
<body>
    <h1>Lobby Waiting Room</h1>
    Welcome to the waiting room <%- playerName %>!<br>
    Room code is: <%- roomCode %><br><br>
    <%- players %><br><br>
</body>
</html>